html {
    background-color: #FF0000;
    background-image: -webkit-linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    background-image: linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0 auto;
    padding: 2em 2em 4em;
    max-width: 1000px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px black solid;
    padding: 5px 10px;
    text-align: left;
}
td.header {
    border-top: 5px black solid;
}
td.ledig {
    background-color: #009933;
    color: white;
    font-weight: bold;
    width: 80%;
}
td.opptatt {
    background-color: #d90b49;
    color: white;
    font-weight: bold;
    width: 80%;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3em;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

td-nowrap {
    white-space: nowrap;
}